

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: white;"> 
    <div class="container">
        <h1 class="display-4 text center py-1 ">Reja va Maqsadlar</h1>
        <form class="create-from" action="/create-item" method="Post"></div>
        <div class="d-flex align-items-center">
        <input 
        name="item"
        id="create-field"
        type="text"
        autofocus
        autocomplete="off"
        class="form-control mr-3"
        style="flex:1;"/>
        <button class="btn btn-primary" style="border-radius: 20px;">Add new plan</button>
    </div>
</form>
<button id="clean-all" class="btn btn-danger" style="border-radius: 20px">
    Delete all the plans
</button>
</div>
</body>
</html>